/Overlay/obj/Debug
/.vs/DeathCount/v15
/Overlay/bin/Debug/Advanced Combat Tracker.exe
/Overlay/bin/Debug/Advanced Combat Tracker.exe.config
/Overlay/bin/Debug/Advanced Combat Tracker.xml
/Overlay/bin/Debug
/Overlay/obj/Release
/bin/Debug/Advanced Combat Tracker.exe
/bin/Debug/Advanced Combat Tracker.exe.config
/bin/Debug/Advanced Combat Tracker.xml
/obj/Debug
/obj/Release
/.vs/DeathCount/v16
/images/death_count_overlay.PNG
/images/death_overlay.PNG
