/Overlay/obj/Debug
/.vs/DeathCount/v15
/Overlay/bin/Debug/Advanced Combat Tracker.exe
/Overlay/bin/Debug/Advanced Combat Tracker.exe.config
/Overlay/bin/Debug/Advanced Combat Tracker.xml
/Overlay/bin/Debug
/Overlay/obj/Release
/bin
/obj
/obj
/.vs/DeathCount/v16
/images/death_count_overlay.PNG
/images/death_overlay.PNG
